.container_home {
  width: 100vw;
  height: 100vh;
  max-height: 700px;
  display: grid;
  grid-template-columns: 110px auto;
  grid-template-rows: 1fr;
  margin: 0 auto;
}

.catalogo_menu_sections_bar {
  z-index: 100;
  grid-area: 1/1/1/1;
  background-color: white;
  align-self: self-start;
  transition: opacity 0.2s ease-in;
}

.container_flipbook {
  display: grid;
  grid-template-rows: 50px auto;
  grid-area: 1/2/1/2;
  max-height: 100vh;
}

.header_container {
  grid-area: 1/1/1/1;
}

.catalogo_passion_ferretera {
  grid-area: 2/1/2/1;
  position: relative;
  transition: transform 0.5s;
}

.buttons_direction_flip {
  display: flex;
  justify-content: space-between;
  padding: 0px 20px 0px 20px;
  position: absolute;
  width: 100%;
  max-width: 2000px;
  height: 0px;
  top: calc(45%);
  z-index: 9999;
}

.buttons_direction_flip button {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  font-size: 2rem;
  opacity: 0.5;
}

.buttons_direction_flip button:hover {
  opacity: 1;
  cursor: pointer;
}

.buttons_direction_flip svg {
  color: black;
}