.container_home {
  width: 100vw;
  height: 100vh;
  max-height: 700px;
  display: grid;
  grid-template-columns: 110px auto;
  grid-template-rows: 1fr;
  margin: 0 auto;
}

.catalogo_menu_sections_bar {
  z-index: 100;
  grid-area: 1/1/1/1;
  background-color: white;
  align-self: self-start;
  transition: opacity 0.2s ease-in;
}

.container_flipbook {
  display: grid;
  grid-template-rows: 50px auto;
  grid-area: 1/2/1/2;
  max-height: 100vh;
}

.header_container {
  grid-area: 1/1/1/1;
}

.catalogo_passion_ferretera {
  grid-area: 2/1/2/1;
  position: relative;
  transition: transform 0.5s;
}

.buttons_direction_flip {
  display: flex;
  justify-content: space-between;
  padding: 0px 20px 0px 20px;
  position: absolute;
  width: 100%;
  max-width: 2000px;
  height: 0px;
  top: calc(45%);
  z-index: 9999;
}

.buttons_direction_flip button {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  font-size: 2rem;
  opacity: 0.5;
}

.buttons_direction_flip button:hover {
  opacity: 1;
  cursor: pointer;
}

.buttons_direction_flip svg {
  color: black;
}

.loader {
  margin: 5% auto 30px;
}

.book {
  border: 4px solid #584400;
  width: 60px;
  height: 45px;
  position: fixed;
  perspective: 150px;
  top: calc(40%);
  left: calc(50% - 20px);
}

.page_loader {
  display: block;
  width: 30px;
  height: 45px;
  border: 4px solid #584400;
  border-left: 1px solid #fabf22;
  margin: 0;
  position: absolute;
  right: -4px;
  top: -4px;
  overflow: hidden;
  background: #fabf22;
  transform-style: preserve-3d;
  -webkit-transform-origin: left center;
  transform-origin: left center;
}

.book .page_loader:nth-child(1) {
  -webkit-animation: pageTurn 1.2s cubic-bezier(0, 0.39, 1, 0.68) 1.6s infinite;
  animation: pageTurn 1.2s cubic-bezier(0, 0.39, 1, 0.68) 1.6s infinite;
}

.book .page_loader:nth-child(2) {
  -webkit-animation: pageTurn 1.2s cubic-bezier(0, 0.39, 1, 0.68) 1.45s infinite;
  animation: pageTurn 1.2s cubic-bezier(0, 0.39, 1, 0.68) 1.45s infinite;
}

.book .page_loader:nth-child(3) {
  -webkit-animation: pageTurn 1.2s cubic-bezier(0, 0.39, 1, 0.68) 1.2s infinite;
  animation: pageTurn 1.2s cubic-bezier(0, 0.39, 1, 0.68) 1.2s infinite;
}

@-webkit-keyframes pageTurn {
  0% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  20% {
    background: #fabf22;
  }
  40% {
    background: #ffc116;
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
  }
  100% {
    background: #ffbb00;
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
  }
}

@keyframes pageTurn {
  0% {
    transform: rotateY(0deg);
  }
  20% {
    background: #fabf22;
  }
  40% {
    background: #ffc116;
    transform: rotateY(-180deg);
  }
  100% {
    background: #ffbb00;
    transform: rotateY(-180deg);
  }
}

@-webkit-keyframes Dots {
  0% {
    content: "";
  }
  33% {
    content: ".";
  }
  66% {
    content: "..";
  }
  100% {
    content: "...";
  }
}

@keyframes Dots {
  0% {
    content: "";
  }
  33% {
    content: ".";
  }
  66% {
    content: "..";
  }
  100% {
    content: "...";
  }
}
