.catalogo_menu_sections_bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  opacity: 1;
}

.catalogo_menu_sections_bar button {
  width: clamp(90px, 28%, 120px);
  height: 50px;
  border: unset;
  color: #212121;
  z-index: 1;
  font-weight: 600;
  background: #ffffff;
  position: relative;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.11);
  transition: all 250ms;
  overflow: hidden;
  cursor: pointer;
  font-size: clamp(40%, 60%, 2rem);
  transition: width 0.2s ease-in-out;
}

.catalogo_menu_sections_bar button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: #fabf22;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
}

.catalogo_menu_sections_bar button:hover {
  color: #ffffff;
  transition: width 0.1s ease-in-out;
}

.catalogo_menu_sections_bar button:hover::before {
  width: 100%;
  transition: width 0.1s ease-in-out;
}

.catalogo_menu_sections_bar button.active {
  color: white;
  background-color: #fabf22;
  scroll-snap-align: center;
}
