.sheet {
  width: 36%;
  max-width: 450px;
  height: 85%;
  max-height: 600px;
  position: fixed;
  transform-style: preserve-3d;
  transform-origin: left;
  right: calc(10%);
  transition: transform 0.5s ease-in, z-index 0.3s step-end, right 0.5s ease-out;
  z-index: 999;
}

.page {
  width: 100%;
  height: 100%;
  position: absolute;
  transition: transform 0.4s ease-out, z-index 0.3s step-end;
  backface-visibility: hidden;
}

.back {
  transform: rotateY(180deg);
  transition: transform 0.5s ease-in, z-index 0.3s step-end;
  backface-visibility: hidden;
}

.flip {
  transform: rotateY(180deg);
  transition: transform 0.4s ease-out, z-index 0.3s step-end;
  transform-origin: left;
}

.videoMedia {
  font-size: 1.8rem;
  color: black;
  position: absolute;
  right: 10px;
  top: 50px;
}

.videoMedia:hover {
  transform: scale(1.05);
  color: blue;
}

.botones_productos_sheet_front0 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  height: 100%;
  padding-right: calc(11%);
}

.botones_productos_sheet_front0 button {
  position: relative;
}

.botones_productos_sheet_front0 button > svg {
  position: absolute;
  right: calc(5%);
}

.botones_productos_sheet_back0 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr 1fr 0.9fr 1.2fr;
  height: 100%;
}

.botones_productos_sheet_front1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(6, 1fr);
  height: 100%;
}

.product_view {
  font-size: 1.6rem;
  border: none;
  background-color: transparent;
  color: rgb(28, 43, 255);
  opacity: 0.2;
}

.product_view:hover {
  opacity: 1;
  cursor: pointer;
}